body{
    background-color: rgb(23, 139, 58);
}

.map{
    width: 50%;
    margin: auto;
}

.map path{
    fill: rgb(39, 88, 161);
    stroke: black;
    transition: fill 4s;
    
}

.map :hover{
    fill: rgba(16, 131, 151, 0.486);
    transition: fill .3s;
}
